.md-typeset h1 {
    visibility: hidden;
  }

.grid.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .grid.cards ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  
  .grid.cards li {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .grid.cards li img {
    align-self: center;
    margin-bottom: 1rem;
  }
  .grid.cards li p {
    flex-grow: 1;
  }
  
  .grid.cards li hr {
    margin: 1rem 0;
  }
  
  .grid.cards li details {
    margin-top: auto;
  }
  
  .grid.cards li details summary {
    font-weight: bold;
    cursor: pointer;
  }
